# Dev created/computer specific
imgui.ini
.vscode
simgui*
__pycache__
_build
*.*~
*_cfg
*_config
.python-version

# dashboard build files
dashboard/www/main.js*
#dashboard packages
node_modules
_staging

# Tools
.SysId/
.OutlineViewer/
*.out
sysid_data*
