# Dev created/computer specific
imgui.ini
.vscode
simgui*
__pycache__
_build
*.*~
*_cfg
*_config
.python-version
.pytest_cache

# dashboard build files
dashboard/.parcel-cache
dashboard/dist
#dashboard packages
node_modules
_staging

# Tools
.SysId/
.OutlineViewer/
*.out
sysid_data*
